body
  margin: 0
  font-family: 'Roboto', 'Pontano Sans', sans-serif
  font-size: 100%

@media screen and (min-width: 320px) 
    body 
        font-size: calc(16px + 6 * ((100vw - 320px) / 680))

@media screen and (min-width: 1000px) 
    body
        font-size: 22px
  
a
  color: #888
  text-decoration: none
  a: visited
    color: #E32626

h1 
    font-size: 48px
h2 
    font-family: Roboto Slab
    font-size: 45px
    line-height: 1.5em
    margin-bottom: 0.4em
    
p 
  font-family: Roboto
  font-style: normal
  font-weight: normal
  line-height: normal
//Navbar

#logo
    display: flex    
    flex-direction: column
    h1 
        font-family: "Ruthie"
        font-size: 4rem
        margin: 0
    h2 
        font-size: 1rem
        grid-column: span 2
        margin: 0
        display: none
        
    .logo-top
        display: flex
        align-items: center

.logoimg
    background-position: center
    height: 4rem
    width: auto

.flex-nav
    height: 5rem
    margin: 0 2rem 0 2rem 
    display: grid
    grid-template-columns: repeat(12, 1fr)
    grid-template-rows: auto

  
.column-4
  grid-column-start: span 4
  grid-column-end: span 4
  display: flex
  justify-content: flex-end

.column-8
  grid-column-start: span 8
  grid-column-end: span 8

.toggle
  display: flex
  justify-content: flex-end
  font-size: 2rem
  align-items: center
  padding: 0.75em

i
    margin: 0 0 0 0.5rem

.nav-item
  margin: 0 1.5rem 0 0
  list-style: none
  
.flex-nav
  ul.active
    display: flex
    background: #fff
    height: 100vh
    width: 100vw
    justify-content: center
    align-content: center
    
    padding: 0
    li
      margin: 0.5rem 0
  ul
    position: absolute
    z-index: 1
    flex-wrap: wrap
    flex-direction: column
    display: none
    width: 100%
    left: 0
    padding: 1rem
    text-align: center
    margin-top: 4rem
    
.column-12
    grid-column-start: span 12   
    grid-column-end: span 12   


@media (min-width: 62rem)
    .toggle
        display: none
    .column-6
        grid-column-start: span 6
        grid-column-end: span 6
    .flex-nav
        ul
            display: flex
            flex-direction: row
            position: relative
            justify-content: flex-end
            margin: auto
    h1 
        font-size: 48px
    h2 

        font-size: 45px
        line-height: 1.5em
    #logo 
        h1 
            font-size: 2.5rem
            margin: 0
        h2 
            display: block
        img
            height: 2.5rem

//Header/Jumbo
.container
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../img/herobanner.png)
    width: 100vw
    min-height: 40vh
    background-position: center
    background-size: cover
    justify-content: center
    align-items: center

    h1
        font-family: "Ruthie"
        margin-bottom: 0
        font-size: 150px
        
    h2 
        margin-top: 0
        width: 70%
        margin-left: auto
        margin-right: auto
        font-style: Roboto Slab

    .LeadText
        color: #ffffff
        text-align: center
        padding: 1em
        margin: 0


.about
    width: 90%
    margin: auto
    h2 
        text-align: left
    p 
        text-align: justify


.aboutWrapper
    display: grid
    grid-template-columns: repeat(12, 1fr)


.aircraftimg
    display: block
    width: 80%
    max-width: 800px
    padding: 2em
    margin: auto

.what
    width: 90%
    margin: auto
    display: grid
    display: grid
    grid-template-columns: repeat(12, 1fr)
    h2 
        grid-column-start: span 8
        grid-column-end: span 8 
.What-card
    display: grid
    grid-template-columns: repeat(12, 1fr)
    grid-template-rows: repeat(2)
    padding: 1em
    border: 1px solid #E1E1E1
    margin: 0.5em
    h3 
        grid-column-start: span 9
        grid-column-end: span 9
        font-size: 1.5em
    i 
        grid-column-start: span 3
        grid-column-end: span 3
        align-self: center
        justify-self: center
        color: rgb(240, 95, 64)
    p 
        grid-column-start: span 12
        grid-column-end: span 12
        text-align: center
        padding: 1em
        margin: 0
        
.projectIcons
    display: flex 
    justify-content: center
    i 
        font-size: 40px
        padding: 0.5em
        color: #f05f40

.projects
    width: 90%
    margin: auto
    display: grid
    grid-template-columns: repeat(12, 1fr)
    h2 
        grid-column-start: span 12
        grid-column-end: span 12
    padding-bottom: 1em
.Project-card
    display: flex
    flex-direction: column
    text-align: center
    border: 1px solid #E1E1E1
    margin: 0.5em

    h3 
        font-size: 1.5em

    img
        min-width: 30vw
        height: auto
        margin: auto
    p 
        padding: 1em
        margin: 0

.contactContainer
    width: 100%
    background: rgba(52, 152, 219, 0.6)

.contactarea
    width: 90%
    margin: auto
    color: #fff
    h2 
        text-align: center
        padding-top: 0.5em
        padding-bottom: 1em
        margin: 0
        


#contact-form
    display: flex
    flex-direction: column
    max-width: 1000px
    margin: auto
    input:not([type=button]), textarea
        width: 100%
        padding: 0.25em
        margin: 0.5em 0 0.5em 0 
        border: 2px solid #B1B1B1
        box-sizing: border-box
        border-radius: 10px
        font-size: 1em
    textarea
        height: 250px
    button
        width: 200px
        margin: 0.5em auto 0.5em auto 
        cursor: pointer
        font-size: 1em
        line-height: 1.2em
        padding: .25em
        border: 3px solid #29a9df
        color: #29a9df
        box-sizing: border-box
        border-radius: 30px
        text-align: center
        background: #041520



footer
    display: flex 
    flex-direction: column
    justify-content: center
    align-items: center
    background-color: #E7E7E7
    .logo-foot
        display: flex
        padding-top: 1.5em
    h1 
        font-family: "Ruthie"
        font-size: 4rem
        margin: 0
    img 
        width: 2em
        height: 2em
        margin-left: 0.5em